<ion-content class="ion-padding" [fullscreen]="true">
  <div class="tittle">
    <h3>Registro</h3>
  </div>
  <form [formGroup]="form" (ngSubmit)="onSubmit()">
    <ion-item>
      <ion-label position="floating">Correo electrónico</ion-label>
      <ion-input type="text" placeholder="" formControlName="email"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Contraseña</ion-label>
      <ion-input type="password" formControlName="password"></ion-input>
    </ion-item>
    <div class="action">

      <ion-row>
        <ion-col>
          <ion-button type="submit" color="primary" expand="block">Registrarme</ion-button>
          <a [routerLink]="['/login']" class="small-text">Ya tengo una cuenta</a>
        </ion-col>
      </ion-row>
    </div>
  </form>
</ion-content>