<ion-content class="ion-padding" [fullscreen]="true">
  <div class="tittle">
    <h3>¿Olvidaste tu contraseña?</h3>
  </div>
  <form [formGroup]="formrecovery" (ngSubmit)="onSubmit()">
    <ion-item lines="full">
      <ion-label position="floating">Correo electrónico</ion-label>
      <ion-input type="text" placeholder="" formControlName="email"></ion-input>
    </ion-item>

    <div class="action">

      <ion-row>
        <ion-col>
          <ion-button type="submit" color="primary" expand="block">Recuperar contraseña</ion-button>
          <a [routerLink]="['/login']" class="small-text">Ya tengo mi cuenta</a>
        </ion-col>
      </ion-row>
    </div>
    <div style="text-align:center">
      <small>
        Recibiras un correo para poder recuperar tu contraseña
      </small>
    </div>
  </form>
</ion-content>